openapi: 3.1.0
info:
  title: Recipe Management System API
  description: >
    Comprehensive API for Recipe Management System - A complete platform for recipe discovery,
    management, and social interaction.


    ## Key Features

    - User authentication and profile management

    - Recipe creation, search, and AI-powered suggestions  

    - Social features including ratings, comments, and favorites

    - Personal recipe collections and meal planning

    - Administrative oversight and analytics


    ## Architecture

    This API is built with a modular architecture organized by use cases:

    - **UC1**: Authentication & User Management

    - **UC2**: Recipe Search & Discovery  

    - **UC3**: Personal Recipe Management

    - **UC4**: Social Features & Interactions

    - **UC5**: Recipe Collections

    - **UC6**: Meal Planning

    - **Admin Modules**: Administrative functions


    ## Authentication

    All authenticated endpoints require a JWT Bearer token obtained from the login endpoint.


    ## Data Model

    The API is built on a comprehensive Entity-Relationship model ensuring data integrity and
    performance:

    - **Users**: Account management with session tracking

    - **Recipes**: Complete recipe information with ingredients, steps, and media

    - **Social**: Ratings, comments, favorites, and sharing

    - **Collections**: User-organized recipe collections  

    - **Meal Plans**: Structured meal planning with shopping lists

    - **Admin**: Comprehensive administrative oversight
  version: 1.0.0
  contact:
    name: DATN Development Team
    email: support@recipemanagement.com
    url: https://github.com/datn-recipe-management
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://recipemanagement.com/terms
servers:
  - url: https://api.recipemanagement.com/v1
    description: Production server
  - url: https://staging-api.recipemanagement.com/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login endpoint
  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (starts from 1)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20
    UserIdParam:
      name: userId
      in: path
      required: true
      description: User UUID identifier
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    RecipeIdParam:
      name: recipeId
      in: path
      required: true
      description: Recipe UUID identifier
      schema:
        type: string
        format: uuid
        example: 987fcdeb-51d2-43a1-b234-567890123456
    CollectionIdParam:
      name: collectionId
      in: path
      required: true
      description: Collection UUID identifier
      schema:
        type: string
        format: uuid
        example: 456e7890-a12b-34c5-d678-901234567890
    MealPlanIdParam:
      name: mealPlanId
      in: path
      required: true
      description: Meal Plan UUID identifier
      schema:
        type: string
        format: uuid
        example: 789a0123-b45c-67d8-e901-234567890123
    StatusParam:
      name: status
      in: query
      description: Filter by status
      schema:
        type: string
        enum:
          - ACTIVE
          - LOCKED
          - PENDING
          - VERIFIED
        example: ACTIVE
    RecipeStatusParam:
      name: status
      in: query
      description: Filter by recipe status
      schema:
        type: string
        enum:
          - DRAFT
          - PENDING
          - APPROVED
          - REJECTED
          - ARCHIVED
        example: APPROVED
    DifficultyParam:
      name: difficulty
      in: query
      description: Filter by recipe difficulty
      schema:
        type: string
        enum:
          - EASY
          - MEDIUM
          - HARD
        example: MEDIUM
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: 123e4567-e89b-12d3-a456-426614174000
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        phone:
          type:
            - string
            - "null"
          pattern: ^[0-9]{10,11}$
          description: Phone number (optional)
          example: "0912345678"
        displayName:
          type: string
          minLength: 2
          maxLength: 100
          description: User display name
          example: Nguyễn Văn A
        avatarUrl:
          type:
            - string
            - "null"
          format: uri
          description: Profile avatar URL
          example: https://example.com/avatars/user123.jpg
        status:
          type: string
          enum:
            - PENDING
            - VERIFIED
            - LOCKED
          description: Account status
          example: VERIFIED
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
          example: 2024-01-15T10:30:00Z
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: 2024-01-20T15:45:00Z
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          description: Last login timestamp
          example: 2024-01-20T08:15:00Z
      required:
        - id
        - email
        - displayName
        - status
        - createdAt
        - updatedAt
    UserProfile:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          properties:
            bio:
              type:
                - string
                - "null"
              maxLength: 500
              description: User biography
              example: Passionate home cook and recipe creator
            preferences:
              type: object
              properties:
                dietaryRestrictions:
                  type: array
                  items:
                    type: string
                  description: Dietary restrictions and allergies
                  example:
                    - vegetarian
                    - gluten-free
                favoriteCategories:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Favorite recipe categories
                  example:
                    - 123e4567-e89b-12d3-a456-426614174001
            stats:
              $ref: "#/components/schemas/UserStats"
    UserStats:
      type: object
      properties:
        recipesCount:
          type: integer
          minimum: 0
          description: Total number of recipes created
          example: 25
        favoritesCount:
          type: integer
          minimum: 0
          description: Total number of favorite recipes
          example: 150
        ratingsGivenCount:
          type: integer
          minimum: 0
          description: Total ratings given by user
          example: 78
        commentsCount:
          type: integer
          minimum: 0
          description: Total comments made
          example: 42
    UserSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        token:
          type: string
          description: Session token
        expiresAt:
          type: string
          format: date-time
        ipAddress:
          type:
            - string
            - "null"
          description: Client IP address
        userAgent:
          type:
            - string
            - "null"
          description: Client user agent
        createdAt:
          type: string
          format: date-time
        lastAccessedAt:
          type:
            - string
            - "null"
          format: date-time
        isActive:
          type: boolean
          default: true
      required:
        - id
        - userId
        - token
        - expiresAt
        - createdAt
        - isActive
    Recipe:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Recipe unique identifier
          example: 987fcdeb-51d2-43a1-b234-567890123456
        name:
          type: string
          minLength: 1
          maxLength: 200
          description: Recipe name
          example: Thịt Kho Tàu Truyền Thống
        description:
          type: string
          minLength: 1
          maxLength: 2000
          description: Recipe description
          example: Món thịt kho tàu đậm đà hương vị truyền thống
        thumbnailUrl:
          type:
            - string
            - "null"
          format: uri
          description: Recipe thumbnail image URL
          example: https://example.com/recipes/thit-kho-tau.jpg
        prepTime:
          type: integer
          minimum: 0
          description: Preparation time in minutes
          example: 30
        cookTime:
          type: integer
          minimum: 0
          description: Cooking time in minutes
          example: 90
        difficulty:
          type: string
          enum:
            - EASY
            - MEDIUM
            - HARD
          description: Recipe difficulty level
          example: MEDIUM
        servings:
          type: integer
          minimum: 1
          description: Number of servings
          example: 4
        status:
          type: string
          enum:
            - DRAFT
            - PENDING
            - APPROVED
            - REJECTED
            - ARCHIVED
          description: Recipe approval status
          example: APPROVED
        isPublic:
          type: boolean
          description: Whether recipe is publicly visible
          default: true
        createdBy:
          type: string
          format: uuid
          description: Recipe author user ID
          example: 123e4567-e89b-12d3-a456-426614174000
        createdAt:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2024-01-20T15:45:00Z
        views:
          type: integer
          minimum: 0
          description: Number of views
          example: 1250
        isDeleted:
          type: boolean
          default: false
        avgRating:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          maximum: 5
          description: Average rating score
          example: 4.5
        ratingCount:
          type: integer
          minimum: 0
          description: Total number of ratings
          example: 89
        favoriteCount:
          type: integer
          minimum: 0
          description: Number of users who favorited this recipe
          example: 234
      required:
        - id
        - name
        - description
        - prepTime
        - cookTime
        - difficulty
        - servings
        - status
        - createdBy
        - createdAt
        - updatedAt
        - views
        - isDeleted
    RecipeDetail:
      allOf:
        - $ref: "#/components/schemas/Recipe"
        - type: object
          properties:
            ingredients:
              type: array
              items:
                $ref: "#/components/schemas/Ingredient"
              description: List of ingredients
            steps:
              type: array
              items:
                $ref: "#/components/schemas/RecipeStep"
              description: Cooking steps
            media:
              type: array
              items:
                $ref: "#/components/schemas/RecipeMedia"
              description: Associated media files
            nutritionalInfo:
              $ref: "#/components/schemas/NutritionalInfo"
            tags:
              type: array
              items:
                type: string
              description: Recipe tags
              example:
                - Vietnamese
                - Traditional
                - Braised
            author:
              $ref: "#/components/schemas/User"
    Ingredient:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Ingredient name
          example: Thịt heo ba chỉ
        amount:
          type: number
          format: float
          minimum: 0
          description: Ingredient amount
          example: 500
        unit:
          type: string
          minLength: 1
          maxLength: 20
          description: Measurement unit
          example: gram
        notes:
          type:
            - string
            - "null"
          maxLength: 500
          description: Additional notes
          example: Chọn miếng có vân mỡ đều
        orderIndex:
          type: integer
          minimum: 0
          description: Display order
          example: 1
      required:
        - id
        - recipeId
        - name
        - amount
        - unit
        - orderIndex
    RecipeStep:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        stepNumber:
          type: integer
          minimum: 1
          description: Step sequence number
          example: 1
        instruction:
          type: string
          minLength: 1
          maxLength: 1000
          description: Step instruction
          example: Rửa sạch thịt, cắt miếng vừa ăn
        duration:
          type:
            - integer
            - "null"
          minimum: 0
          description: Estimated duration in minutes
          example: 15
      required:
        - id
        - recipeId
        - stepNumber
        - instruction
    RecipeMedia:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        stepId:
          type:
            - string
            - "null"
          format: uuid
          description: Associated step ID (nullable for recipe-level media)
        fileUrl:
          type: string
          format: uri
          description: Media file URL
          example: https://example.com/media/recipe-step-1.jpg
        fileType:
          type: string
          enum:
            - IMAGE
            - VIDEO
          description: File type
          example: IMAGE
        fileSize:
          type: integer
          minimum: 1
          description: File size in bytes
          example: 1048576
        fileName:
          type: string
          minLength: 1
          maxLength: 255
          description: Original file name
          example: thit-kho-step1.jpg
        uploadedAt:
          type: string
          format: date-time
      required:
        - id
        - recipeId
        - fileUrl
        - fileType
        - fileSize
        - fileName
        - uploadedAt
    NutritionalInfo:
      type: object
      properties:
        calories:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 320.5
        protein:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 25.2
        carbs:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 15.8
        fat:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 18.3
        fiber:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 3.1
        sugar:
          type:
            - number
            - "null"
          format: float
          minimum: 0
          example: 8.5
    Favorite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        addedAt:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z
      required:
        - id
        - userId
        - recipeId
        - addedAt
    Rating:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        score:
          type: integer
          minimum: 1
          maximum: 5
          description: Rating score from 1 to 5 stars
          example: 4
        comment:
          type:
            - string
            - "null"
          maxLength: 1000
          description: Optional rating comment
          example: Công thức rất hay, gia đình tôi rất thích!
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - userId
        - recipeId
        - score
        - createdAt
    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        content:
          type: string
          minLength: 1
          maxLength: 1000
          description: Comment content
          example: Tôi đã thử làm theo công thức này và rất thành công!
        photos:
          type:
            - array
            - "null"
          items:
            type: string
            format: uri
          description: Attached photo URLs
          example:
            - https://example.com/comments/photo1.jpg
        tags:
          type:
            - array
            - "null"
          items:
            type: string
          description: Quick rating tags
          example:
            - delicious
            - easy-to-follow
        helpfulCount:
          type: integer
          minimum: 0
          description: Number of "helpful" votes
          default: 0
          example: 12
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
            - string
            - "null"
          format: date-time
        isDeleted:
          type: boolean
          default: false
      required:
        - id
        - userId
        - recipeId
        - content
        - helpfulCount
        - createdAt
        - isDeleted
    ShareRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipeId:
          type: string
          format: uuid
        userId:
          type:
            - string
            - "null"
          format: uuid
          description: User who shared (nullable for anonymous shares)
        channel:
          type: string
          enum:
            - FACEBOOK
            - INSTAGRAM
            - TWITTER
            - WHATSAPP
            - EMAIL
            - COPY_LINK
            - QR_CODE
          description: Sharing channel
          example: FACEBOOK
        sharedAt:
          type: string
          format: date-time
        ipAddress:
          type:
            - string
            - "null"
          description: IP address for anonymous shares
          example: 192.168.1.1
      required:
        - id
        - recipeId
        - channel
        - sharedAt
    Collection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Collection name
          example: Món Chay Yêu Thích
        description:
          type:
            - string
            - "null"
          maxLength: 500
          description: Collection description
          example: Tuyển tập các món chay ngon và bổ dưỡng
        thumbnailUrl:
          type:
            - string
            - "null"
          format: uri
          description: Collection thumbnail
        isPublic:
          type: boolean
          description: Whether collection is publicly visible
          default: false
        userId:
          type: string
          format: uuid
          description: Collection owner
        recipesCount:
          type: integer
          minimum: 0
          description: Number of recipes in collection
          example: 15
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - isPublic
        - userId
        - recipesCount
        - createdAt
        - updatedAt
    MealPlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        date:
          type: string
          format: date
          description: Meal plan date
          example: 2024-01-15
        meals:
          type: array
          items:
            $ref: "#/components/schemas/MealPlanEntry"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - userId
        - date
        - meals
        - createdAt
        - updatedAt
    MealPlanEntry:
      type: object
      properties:
        mealType:
          type: string
          enum:
            - BREAKFAST
            - LUNCH
            - DINNER
            - SNACK
          description: Type of meal
          example: LUNCH
        recipeId:
          type: string
          format: uuid
        recipe:
          $ref: "#/components/schemas/Recipe"
        servings:
          type: integer
          minimum: 1
          description: Number of servings planned
          example: 2
        notes:
          type:
            - string
            - "null"
          maxLength: 500
          description: Meal planning notes
          example: Chuẩn bị trước cho cả tuần
      required:
        - mealType
        - recipeId
        - servings
    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Category name
          example: Món Chính
        description:
          type:
            - string
            - "null"
          maxLength: 500
          example: Các món ăn chính trong bữa cơm
        image:
          type:
            - string
            - "null"
          format: uri
        parentId:
          type:
            - string
            - "null"
          format: uuid
          description: Parent category ID for hierarchical structure
        children:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        recipesCount:
          type: integer
          minimum: 0
          description: Number of recipes in this category
          example: 156
      required:
        - id
        - name
        - recipesCount
    SystemIngredient:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Standardized ingredient name
          example: Thịt heo ba chỉ
        category:
          type:
            - string
            - "null"
          description: Ingredient category
          example: Thịt
        unit:
          type: string
          description: Standard measurement unit
          example: gram
        nutritionalInfo:
          $ref: "#/components/schemas/NutritionalInfo"
      required:
        - id
        - name
        - unit
    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        action:
          type: string
          enum:
            - USER_LOCK
            - USER_UNLOCK
            - USER_VIEW
            - RECIPE_APPROVE
            - RECIPE_REJECT
            - ADMIN_CREATE
            - ADMIN_DELETE
          description: Action performed
          example: USER_LOCK
        actorId:
          type: string
          format: uuid
          description: Admin who performed the action
        targetId:
          type: string
          format: uuid
          description: Target user/entity ID
        details:
          type:
            - object
            - "null"
          description: Additional action details
          example:
            reason: Spam content
            duration: "30"
        timestamp:
          type: string
          format: date-time
      required:
        - id
        - action
        - actorId
        - targetId
        - timestamp
    UserActivity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        activityType:
          type: string
          enum:
            - RECIPE_CREATE
            - RECIPE_UPDATE
            - COMMENT_POST
            - RATING_GIVE
            - LOGIN
            - LOGOUT
          example: RECIPE_CREATE
        entityType:
          type:
            - string
            - "null"
          example: RECIPE
        entityId:
          type:
            - string
            - "null"
          format: uuid
        metadata:
          type:
            - object
            - "null"
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - userId
        - activityType
        - createdAt
    AdminAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        fullName:
          type: string
          minLength: 2
          maxLength: 100
        role:
          type: string
          enum:
            - ADMIN
            - MODERATOR
            - SUPER_ADMIN
          example: ADMIN
        permissions:
          type: array
          items:
            type: string
          description: List of permissions
          example:
            - user:read
            - user:update
            - recipe:approve
        createdAt:
          type: string
          format: date-time
        lastLogin:
          type:
            - string
            - "null"
          format: date-time
        isActive:
          type: boolean
          default: true
      required:
        - id
        - email
        - fullName
        - role
        - permissions
        - createdAt
        - isActive
    AnalyticsResponse:
      type: object
      properties:
        summary:
          type: object
          properties:
            totalUsers:
              type: integer
              example: 15420
            activeUsers:
              type: integer
              example: 8960
            totalRecipes:
              type: integer
              example: 45200
            approvedRecipes:
              type: integer
              example: 42180
            totalRatings:
              type: integer
              example: 125600
        chartData:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: number
              label:
                type: string
        topItems:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              count:
                type: integer
              percentage:
                type: number
                format: float
      required:
        - summary
        - chartData
        - topItems
    UserRegistrationRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          description: Password (at least 8 characters)
        confirmPassword:
          type: string
          minLength: 8
        fullName:
          type: string
          minLength: 2
          maxLength: 100
        phone:
          type:
            - string
            - "null"
          pattern: ^[0-9]{10,11}$
      required:
        - email
        - password
        - confirmPassword
        - fullName
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - email
        - password
    UpdateProfileRequest:
      type: object
      properties:
        fullName:
          type: string
          minLength: 2
          maxLength: 100
        phone:
          type:
            - string
            - "null"
          pattern: ^[0-9]{10,11}$
        bio:
          type:
            - string
            - "null"
          maxLength: 500
        avatarUrl:
          type:
            - string
            - "null"
          format: uri
        preferences:
          type: object
          properties:
            dietaryRestrictions:
              type: array
              items:
                type: string
            favoriteCategories:
              type: array
              items:
                type: string
                format: uuid
    ChangePasswordRequest:
      type: object
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
        confirmNewPassword:
          type: string
          minLength: 8
      required:
        - currentPassword
        - newPassword
        - confirmNewPassword
    CreateRecipeRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          minLength: 1
          maxLength: 2000
        categoryId:
          type: string
          format: uuid
        difficulty:
          type: string
          enum:
            - EASY
            - MEDIUM
            - HARD
        servings:
          type: integer
          minimum: 1
        prepTime:
          type: integer
          minimum: 0
        cookTime:
          type: integer
          minimum: 0
        ingredients:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 100
              amount:
                type: number
                format: float
                minimum: 0
              unit:
                type: string
                minLength: 1
                maxLength: 20
              notes:
                type:
                  - string
                  - "null"
                maxLength: 500
              orderIndex:
                type: integer
                minimum: 0
            required:
              - name
              - amount
              - unit
              - orderIndex
        steps:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              stepNumber:
                type: integer
                minimum: 1
              instruction:
                type: string
                minLength: 1
                maxLength: 1000
              duration:
                type:
                  - integer
                  - "null"
                minimum: 0
            required:
              - stepNumber
              - instruction
        tags:
          type: array
          items:
            type: string
        nutritionalInfo:
          $ref: "#/components/schemas/NutritionalInfo"
        isPublic:
          type: boolean
          default: true
      required:
        - name
        - description
        - categoryId
        - difficulty
        - servings
        - prepTime
        - cookTime
        - ingredients
        - steps
    AISuggestionRequest:
      type: object
      properties:
        ingredients:
          type: array
          items:
            type: string
          minItems: 1
          description: Available ingredients
          example:
            - thịt bò
            - khoai tây
            - cà rốt
        preferences:
          type: object
          properties:
            difficulty:
              type: string
              enum:
                - EASY
                - MEDIUM
                - HARD
            cookingTime:
              type: integer
              minimum: 1
              description: Maximum cooking time in minutes
            category:
              type: string
            dietaryRestrictions:
              type: array
              items:
                type: string
      required:
        - ingredients
    RatingRequest:
      type: object
      properties:
        score:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type:
            - string
            - "null"
          maxLength: 1000
      required:
        - score
    CommentRequest:
      type: object
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 1000
        photos:
          type:
            - array
            - "null"
          items:
            type: string
            format: uri
        tags:
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - content
    CreateCollectionRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type:
            - string
            - "null"
          maxLength: 500
        isPublic:
          type: boolean
          default: false
        thumbnailUrl:
          type:
            - string
            - "null"
          format: uri
      required:
        - name
    CreateMealPlanRequest:
      type: object
      properties:
        date:
          type: string
          format: date
        meals:
          type: array
          items:
            type: object
            properties:
              mealType:
                type: string
                enum:
                  - BREAKFAST
                  - LUNCH
                  - DINNER
                  - SNACK
              recipeId:
                type: string
                format: uuid
              servings:
                type: integer
                minimum: 1
              notes:
                type:
                  - string
                  - "null"
                maxLength: 500
            required:
              - mealType
              - recipeId
              - servings
      required:
        - date
        - meals
    DeactivateUserRequest:
      type: object
      properties:
        reason:
          type: string
          minLength: 10
          maxLength: 500
        duration:
          type:
            - integer
            - "null"
          minimum: 1
          description: Lock duration in days (null for permanent)
      required:
        - reason
    CreateAdminRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        fullName:
          type: string
          minLength: 2
          maxLength: 100
        role:
          type: string
          enum:
            - ADMIN
            - MODERATOR
        password:
          type: string
          minLength: 8
        permissions:
          type: array
          items:
            type: string
      required:
        - email
        - fullName
        - role
        - password
        - permissions
    CreateCategoryRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type:
            - string
            - "null"
          maxLength: 500
        parentId:
          type:
            - string
            - "null"
          format: uuid
        image:
          type:
            - string
            - "null"
          format: uri
      required:
        - name
    CreateIngredientRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        category:
          type:
            - string
            - "null"
        unit:
          type: string
          minLength: 1
          maxLength: 20
        nutritionalInfo:
          $ref: "#/components/schemas/NutritionalInfo"
      required:
        - name
        - unit
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrevious
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation completed successfully
        data:
          type:
            - object
            - "null"
      required:
        - success
        - message
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/User"
            token:
              type: string
              description: JWT access token
            refreshToken:
              type: string
              description: Refresh token
            expiresIn:
              type: integer
              description: Token expiration time in seconds
      required:
        - success
        - data
    UserListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: "#/components/schemas/User"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    RecipeListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            recipes:
              type: array
              items:
                $ref: "#/components/schemas/Recipe"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    CollectionListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            collections:
              type: array
              items:
                $ref: "#/components/schemas/Collection"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    MealPlanResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: "#/components/schemas/MealPlan"
      required:
        - success
        - data
    MealPlanListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            mealPlans:
              type: array
              items:
                $ref: "#/components/schemas/MealPlan"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    CategoryListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            categories:
              type: array
              items:
                $ref: "#/components/schemas/Category"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    IngredientListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            ingredients:
              type: array
              items:
                $ref: "#/components/schemas/SystemIngredient"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    AdminAccountListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            accounts:
              type: array
              items:
                $ref: "#/components/schemas/AdminAccount"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    AuditLogListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            logs:
              type: array
              items:
                $ref: "#/components/schemas/AuditLog"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    UserActivityListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            activities:
              type: array
              items:
                $ref: "#/components/schemas/UserActivity"
            pagination:
              $ref: "#/components/schemas/Pagination"
      required:
        - success
        - data
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid input data
            details:
              type:
                - object
                - "null"
              example:
                field: email
                issue: Invalid email format
      required:
        - success
        - error
  responses:
    BadRequest:
      description: Bad Request - Invalid input data
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: BAD_REQUEST
              message: Invalid input data
    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: UNAUTHORIZED
              message: Authentication token required
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: FORBIDDEN
              message: Insufficient permissions for this operation
    NotFound:
      description: Not Found - Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: NOT_FOUND
              message: The requested resource was not found
    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: CONFLICT
              message: Resource already exists
    InternalServerError:
      description: Internal Server Error - Unexpected error occurred
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: INTERNAL_SERVER_ERROR
              message: An unexpected error occurred
tags:
  - name: Authentication
    description: User authentication and session management (UC1)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc1
  - name: Recipe Search
    description: Recipe discovery and AI suggestions (UC2)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc2
  - name: Recipe Management
    description: Personal recipe CRUD operations (UC3)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc3
  - name: Social Features
    description: Ratings, comments, favorites, and sharing (UC4)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc4
  - name: Collections
    description: Recipe collection management (UC5)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc5
  - name: Meal Planning
    description: Meal planning and shopping lists (UC6)
    externalDocs:
      description: Use Case Documentation
      url: https://docs.recipemanagement.com/use-cases/uc6
  - name: Admin - Users
    description: Administrative user management (UCA1)
    externalDocs:
      description: Admin Documentation
      url: https://docs.recipemanagement.com/admin/users
  - name: Admin - Recipes
    description: Administrative recipe oversight (UCA2)
    externalDocs:
      description: Admin Documentation
      url: https://docs.recipemanagement.com/admin/recipes
  - name: Admin - Categories
    description: Category and ingredient management (UCA3)
    externalDocs:
      description: Admin Documentation
      url: https://docs.recipemanagement.com/admin/categories
  - name: Admin - System
    description: Administrative system management (UCA4)
    externalDocs:
      description: Admin Documentation
      url: https://docs.recipemanagement.com/admin/system
  - name: Admin - Analytics
    description: Reports and analytics (UCA5)
    externalDocs:
      description: Admin Documentation
      url: https://docs.recipemanagement.com/admin/analytics
paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: UCS01-1 - Register new user account
      description: |
        Register a new user account with email/phone and password.
        Creates USER entity with PENDING status and sends verification token.

        **Business Rules:**
        - Email must be unique in system
        - Phone is optional but must be unique if provided  
        - Password must meet security requirements (min 8 chars)
        - Account starts in PENDING status until email verification

        **ERD Entities:** USER, VERIFICATION_TOKEN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../components.yaml#/components/schemas/UserRegistrationRequest
            examples:
              email_registration:
                summary: Registration with email only
                value:
                  email: nguyen.van.a@example.com
                  password: SecurePass123!
                  confirmPassword: SecurePass123!
                  fullName: Nguyễn Văn A
              phone_registration:
                summary: Registration with email and phone
                value:
                  email: tran.thi.b@example.com
                  password: MyPassword456!
                  confirmPassword: MyPassword456!
                  fullName: Trần Thị B
                  phone: "0912345678"
      responses:
        "201":
          description: Registration successful - verification email sent
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/AuthResponse
              example:
                success: true
                data:
                  user:
                    id: 123e4567-e89b-12d3-a456-426614174000
                    email: nguyen.van.a@example.com
                    displayName: Nguyễn Văn A
                    status: PENDING
                    createdAt: 2024-01-15T10:30:00Z
                    updatedAt: 2024-01-15T10:30:00Z
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken: refresh_token_here
                  expiresIn: 3600
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
        "409":
          description: Email or phone already exists
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
              example:
                success: false
                error:
                  code: CONFLICT
                  message: Email address already registered
                  details:
                    field: email
                    value: nguyen.van.a@example.com
      operationId: createAuthRegister
  /auth/login:
    post:
      tags:
        - Authentication
      summary: UCS01-2 - Login to system
      description: |
        Authenticate user with email/password and create session.
        Updates USER.lastLoginAt and creates USER_SESSION record.

        **Business Rules:**
        - Account must be VERIFIED status to login
        - LOCKED accounts cannot login
        - Creates session with configurable expiration (24h default, 30 days if remember=true)
        - Updates last login timestamp

        **ERD Entities:** USER, USER_SESSION
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: ../components.yaml#/components/schemas/LoginRequest
                - type: object
                  properties:
                    remember:
                      type: boolean
                      default: false
                      description: Remember me for extended session (30 days)
            examples:
              standard_login:
                summary: Standard login
                value:
                  email: nguyen.van.a@example.com
                  password: SecurePass123!
              remember_login:
                summary: Login with remember me
                value:
                  email: nguyen.van.a@example.com
                  password: SecurePass123!
                  remember: true
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/AuthResponse
              example:
                success: true
                data:
                  user:
                    id: 123e4567-e89b-12d3-a456-426614174000
                    email: nguyen.van.a@example.com
                    displayName: Nguyễn Văn A
                    status: VERIFIED
                    lastLoginAt: 2024-01-20T15:45:00Z
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken: refresh_token_here
                  expiresIn: 86400
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
        "401":
          description: Invalid credentials or account not verified
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
              examples:
                invalid_credentials:
                  summary: Wrong email/password
                  value:
                    success: false
                    error:
                      code: INVALID_CREDENTIALS
                      message: Invalid email or password
                pending_verification:
                  summary: Account not verified
                  value:
                    success: false
                    error:
                      code: ACCOUNT_PENDING
                      message: Please verify your email address before logging in
                locked_account:
                  summary: Account locked
                  value:
                    success: false
                    error:
                      code: ACCOUNT_LOCKED
                      message: Account has been locked. Please contact support.
      operationId: createAuthLogin
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: UCS01-3 - Logout from system
      description: |
        Logout user and invalidate current session.
        Sets USER_SESSION.isActive = FALSE or deletes session record.

        **Business Rules:**
        - Invalidates current session token
        - Optional: logout from all sessions with ?allSessions=true
        - Token becomes invalid immediately

        **ERD Entities:** USER_SESSION
      security:
        - bearerAuth: []
      parameters:
        - name: allSessions
          in: query
          description: Logout from all sessions
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
              example:
                success: true
                message: Successfully logged out
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: createAuthLogout
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: |
        Refresh expired access token using refresh token.
        Extends session and returns new access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Valid refresh token
              required:
                - refreshToken
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: New access token
                      expiresIn:
                        type: integer
                        description: Token expiration in seconds
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
      operationId: createAuthRefresh
  /auth/forgot-password:
    post:
      tags:
        - Authentication
      summary: UCS01-7 - Request password reset
      description: |
        Send password reset email with reset token.
        Creates PASSWORD_RESET_TOKEN and sends email with reset link.

        **Business Rules:**
        - Email must exist and account must be VERIFIED
        - Invalidates any existing reset tokens for user
        - Reset token expires in 24 hours
        - Rate limited to prevent abuse

        **ERD Entities:** USER, PASSWORD_RESET_TOKEN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Registered email address
              required:
                - email
            example:
              email: nguyen.van.a@example.com
      responses:
        "200":
          description: Password reset email sent (always returns 200 for security)
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
              example:
                success: true
                message: If the email exists, a password reset link has been sent
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
      operationId: createAuthForgotPassword
  /auth/reset-password:
    post:
      tags:
        - Authentication
      summary: UCS01-7 - Reset password with token
      description: |
        Reset password using valid reset token from email.
        Validates PASSWORD_RESET_TOKEN and updates USER.passwordHash.

        **Business Rules:**
        - Token must be valid and not expired
        - Token can only be used once (sets used=true)
        - New password must meet security requirements
        - Invalidates all user sessions (force re-login)

        **ERD Entities:** USER, PASSWORD_RESET_TOKEN, USER_SESSION
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Reset token from email
                newPassword:
                  type: string
                  minLength: 8
                  description: New password
                confirmPassword:
                  type: string
                  minLength: 8
                  description: Confirm new password
              required:
                - token
                - newPassword
                - confirmPassword
      responses:
        "200":
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
        "400":
          description: Invalid token or password mismatch
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
      operationId: createAuthResetPassword
  /auth/verify-email:
    post:
      tags:
        - Authentication
      summary: Verify email address
      description: |
        Verify user email with verification token.
        Updates USER.status from PENDING to VERIFIED.

        **ERD Entities:** USER, VERIFICATION_TOKEN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Email verification token
              required:
                - token
      responses:
        "200":
          description: Email verified successfully
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
        "400":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
      operationId: createAuthVerifyEmail
  /users/profile:
    get:
      tags:
        - Authentication
      summary: UCS01-4 - Get user profile
      description: |
        Get current user's profile information including stats.
        Returns USER entity with embedded UserProfile data and statistics.

        **Business Rules:**
        - Returns current authenticated user's profile
        - Includes aggregated statistics (recipes count, favorites count, etc.)
        - Shows preferences and dietary restrictions

        **ERD Entities:** USER (with embedded UserProfile data)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: ../components.yaml#/components/schemas/UserProfile
              example:
                success: true
                data:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  email: nguyen.van.a@example.com
                  displayName: Nguyễn Văn A
                  avatarUrl: https://example.com/avatars/user123.jpg
                  status: VERIFIED
                  bio: Passionate home cook who loves Vietnamese cuisine
                  preferences:
                    dietaryRestrictions:
                      - vegetarian
                    favoriteCategories:
                      - 123e4567-e89b-12d3-a456-426614174001
                  stats:
                    recipesCount: 25
                    favoritesCount: 150
                    ratingsGivenCount: 78
                    commentsCount: 42
                  createdAt: 2024-01-15T10:30:00Z
                  updatedAt: 2024-01-20T15:45:00Z
                  lastLoginAt: 2024-01-25T08:15:00Z
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: getUsersProfile
    put:
      tags:
        - Authentication
      summary: UCS01-5 - Update user profile
      description: |
        Update current user's profile information.
        Updates USER entity fields like displayName, avatarUrl, bio, preferences.

        **Business Rules:**
        - Can update display name, avatar, bio, preferences
        - Email change requires separate verification process
        - Updates updatedAt timestamp automatically

        **ERD Entities:** USER
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../components.yaml#/components/schemas/UpdateProfileRequest
            example:
              fullName: Nguyễn Văn An
              bio: Experienced home chef specializing in traditional Vietnamese dishes
              preferences:
                dietaryRestrictions:
                  - vegetarian
                  - gluten-free
                favoriteCategories:
                  - 123e4567-e89b-12d3-a456-426614174001
                  - 123e4567-e89b-12d3-a456-426614174002
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: ../components.yaml#/components/schemas/UserProfile
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: updateUsersProfile
  /users/change-password:
    put:
      tags:
        - Authentication
      summary: UCS01-6 - Change user password
      description: |
        Change user password with current password verification.
        Updates USER.passwordHash and revokes all sessions for security.

        **Business Rules:**
        - Must provide current password for verification
        - New password must meet security requirements
        - Revokes all sessions (forces re-login everywhere)
        - Updates updatedAt timestamp

        **ERD Entities:** USER, USER_SESSION
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../components.yaml#/components/schemas/ChangePasswordRequest
            example:
              currentPassword: OldPassword123!
              newPassword: NewSecurePassword456!
              confirmNewPassword: NewSecurePassword456!
      responses:
        "200":
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
              example:
                success: true
                message: Password changed successfully. Please login again.
        "400":
          description: Current password incorrect or validation failed
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
              examples:
                wrong_current_password:
                  summary: Current password incorrect
                  value:
                    success: false
                    error:
                      code: INVALID_PASSWORD
                      message: Current password is incorrect
                password_mismatch:
                  summary: New passwords don't match
                  value:
                    success: false
                    error:
                      code: PASSWORD_MISMATCH
                      message: New password confirmation doesn't match
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: updateUsersChangePassword
  /users/sessions:
    get:
      tags:
        - Authentication
      summary: Get active user sessions
      description: |
        Get list of active sessions for current user.
        Shows all USER_SESSION records for security management.

        **ERD Entities:** USER_SESSION
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Active sessions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        ipAddress:
                          type: string
                        userAgent:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        lastAccessedAt:
                          type: string
                          format: date-time
                        isCurrent:
                          type: boolean
                          description: Whether this is the current session
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: getUsersSessions
    delete:
      tags:
        - Authentication
      summary: Revoke user sessions
      description: |
        Revoke specific or all user sessions.
        Sets USER_SESSION.isActive = FALSE for specified sessions.
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: query
          description: Specific session ID to revoke (omit for all sessions)
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sessions revoked successfully
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/SuccessResponse
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
      operationId: deleteUsersSessions
  /recipes/search:
    get:
      tags:
        - Recipe Search
      summary: UCS02-2 - Search recipes by name
      description: |
        Search recipes by name/title with fuzzy matching and full-text search.
        Supports Vietnamese text search with similarity scoring.

        **Business Rules:**
        - Only searches APPROVED recipes (status = 'APPROVED')
        - Uses full-text search with Vietnamese language support
        - Results sorted by relevance score by default
        - Supports filtering and sorting options

        **ERD Entities:** RECIPE, USER, CATEGORY
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (recipe name/title)
          schema:
            type: string
            minLength: 1
            maxLength: 200
          example: thịt kho tàu
        - name: category
          in: query
          description: Filter by category ID
          schema:
            type: string
            format: uuid
        - $ref: ../components.yaml#/components/parameters/DifficultyParam
        - name: maxCookTime
          in: query
          description: Maximum cooking time in minutes
          schema:
            type: integer
            minimum: 1
            example: 60
        - name: minRating
          in: query
          description: Minimum average rating (1-5)
          schema:
            type: number
            format: float
            minimum: 1
            maximum: 5
            example: 4
        - name: sortBy
          in: query
          description: Sort results by
          schema:
            type: string
            enum:
              - relevance
              - rating
              - views
              - createdAt
              - cookTime
            default: relevance
        - name: order
          in: query
          description: Sort order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - $ref: ../components.yaml#/components/parameters/PageParam
        - $ref: ../components.yaml#/components/parameters/LimitParam
      responses:
        "200":
          description: Search results found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      recipes:
                        type: array
                        items:
                          $ref: ../components.yaml#/components/schemas/Recipe
                      pagination:
                        $ref: ../components.yaml#/components/schemas/Pagination
                      filters:
                        type: object
                        properties:
                          availableCategories:
                            type: array
                            items:
                              $ref: ../components.yaml#/components/schemas/Category
                          difficultyCount:
                            type: object
                            example:
                              EASY: 45
                              MEDIUM: 32
                              HARD: 18
                          avgCookTime:
                            type: number
                            format: float
                            example: 45.5
              example:
                success: true
                data:
                  recipes: []
                  pagination:
                    page: 1
                    limit: 20
                    total: 95
                    totalPages: 5
                    hasNext: true
                    hasPrevious: false
                  filters:
                    availableCategories: []
                    difficultyCount:
                      EASY: 45
                      MEDIUM: 32
                      HARD: 18
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
      operationId: getRecipesSearch
  /recipes/search/by-ingredients:
    post:
      tags:
        - Recipe Search
      summary: UCS02-1 - Search recipes by available ingredients
      description: |
        Search recipes using available ingredients with 3-tier priority algorithm:
        - Priority 1: Recipes containing ALL provided ingredients
        - Priority 2: Recipes containing N-1 ingredients (high match)
        - Priority 3: Recipes needing only 1-2 additional common ingredients

        **Business Rules:**
        - Only searches APPROVED recipes
        - Implements sophisticated ingredient matching algorithm
        - Returns suggestions for missing ingredients
        - Results ranked by ingredient match percentage

        **ERD Entities:** RECIPE, INGREDIENT, USER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ingredients:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 20
                  description: Available ingredients
                  example:
                    - thịt bò
                    - khoai tây
                    - cà rốt
                    - hành tây
                preferences:
                  type: object
                  properties:
                    difficulty:
                      type: string
                      enum:
                        - EASY
                        - MEDIUM
                        - HARD
                    maxCookTime:
                      type: integer
                      minimum: 1
                    category:
                      type: string
                      format: uuid
                    excludeIngredients:
                      type: array
                      items:
                        type: string
                      description: Ingredients to avoid
                      example:
                        - đậu phộng
                        - sữa
              required:
                - ingredients
            example:
              ingredients:
                - thịt bò
                - khoai tây
                - cà rốt
              preferences:
                difficulty: MEDIUM
                maxCookTime: 90
      responses:
        "200":
          description: Recipe suggestions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      recipes:
                        type: array
                        items:
                          allOf:
                            - $ref: ../components.yaml#/components/schemas/Recipe
                            - type: object
                              properties:
                                matchScore:
                                  type: number
                                  format: float
                                  minimum: 0
                                  maximum: 1
                                  description: Ingredient match percentage
                                  example: 0.85
                                matchedIngredients:
                                  type: array
                                  items:
                                    type: string
                                  description: Matched ingredients
                                  example:
                                    - thịt bò
                                    - khoai tây
                                missingIngredients:
                                  type: array
                                  items:
                                    type: string
                                  description: Additional ingredients needed
                                  example:
                                    - nước mắm
                                    - đường
                                priority:
                                  type: integer
                                  enum:
                                    - 1
                                    - 2
                                    - 3
                                  description: Priority level (1=highest)
                                  example: 1
                      summary:
                        type: object
                        properties:
                          totalResults:
                            type: integer
                            example: 47
                          priorityCounts:
                            type: object
                            example:
                              "1": 12
                              "2": 23
                              "3": 12
                          suggestedIngredients:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                frequency:
                                  type: integer
                                  description: How often this ingredient appears in suggestions
                            example:
                              - name: nước mắm
                                frequency: 35
                              - name: đường
                                frequency: 28
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
      operationId: createRecipesSearchByIngredients
  /recipes/ai-suggest:
    post:
      tags:
        - Recipe Search
      summary: UCS02-3 - Generate recipe using AI
      description: |
        Generate new recipe using AI when no matching recipes found.
        Creates temporary recipe entry with 24-hour expiration.

        **Business Rules:**
        - Triggered when ingredient search returns no results
        - Calls external AI API (GPT/Claude) with structured prompt
        - Creates temporary RECIPE entry (status = 'AI_GENERATED')
        - Auto-expires after 24 hours
        - User can save to personal recipes

        **ERD Entities:** RECIPE, INGREDIENT, RECIPE_STEP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../components.yaml#/components/schemas/AISuggestionRequest
            example:
              ingredients:
                - thịt gà
                - nấm
                - cà rốt
              preferences:
                difficulty: EASY
                cookingTime: 45
                category: Món chính
                dietaryRestrictions:
                  - halal
      responses:
        "200":
          description: AI recipe generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    allOf:
                      - $ref: ../components.yaml#/components/schemas/RecipeDetail
                      - type: object
                        properties:
                          isAIGenerated:
                            type: boolean
                            example: true
                          expiresAt:
                            type: string
                            format: date-time
                            description: When this AI recipe expires
                            example: 2024-01-16T10:30:00Z
                          aiModel:
                            type: string
                            description: AI model used for generation
                            example: gpt-4
                          confidence:
                            type: number
                            format: float
                            minimum: 0
                            maximum: 1
                            description: AI confidence score
                            example: 0.89
              example:
                success: true
                data:
                  id: ai-123e4567-e89b-12d3-a456-426614174000
                  name: Gà Xào Nấm Cà Rốt
                  description: Món gà xào đơn giản với nấm và cà rốt, thích hợp cho bữa cơm gia đình
                  isAIGenerated: true
                  expiresAt: 2024-01-16T10:30:00Z
                  confidence: 0.89
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
        "503":
          description: AI service unavailable
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
              example:
                success: false
                error:
                  code: AI_SERVICE_UNAVAILABLE
                  message: AI recipe generation is temporarily unavailable
      operationId: createRecipesAiSuggest
  /recipes/{recipeId}:
    get:
      tags:
        - Recipe Search
      summary: UCS02-5 - Get recipe details
      description: >
        Get complete recipe details including ingredients, steps, ratings, and comments.

        Increments view count and records view in VIEW_HISTORY.


        **Business Rules:**

        - Only shows APPROVED recipes (or user's own recipes)

        - Increments views counter atomically

        - Records view in VIEW_HISTORY for analytics

        - Returns complete recipe with all relationships

        - Includes aggregated rating statistics


        **ERD Entities:** RECIPE, INGREDIENT, RECIPE_STEP, RECIPE_MEDIA, RATING, COMMENT,
        VIEW_HISTORY
      parameters:
        - $ref: ../components.yaml#/components/parameters/RecipeIdParam
      responses:
        "200":
          description: Recipe details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    allOf:
                      - $ref: ../components.yaml#/components/schemas/RecipeDetail
                      - type: object
                        properties:
                          ratings:
                            type: object
                            properties:
                              average:
                                type: number
                                format: float
                                example: 4.3
                              count:
                                type: integer
                                example: 89
                              distribution:
                                type: object
                                example:
                                  "1": 1
                                  "2": 3
                                  "3": 12
                                  "4": 28
                                  "5": 45
                          recentComments:
                            type: array
                            items:
                              $ref: ../components.yaml#/components/schemas/Comment
                            description: Most recent comments (max 5)
                          relatedRecipes:
                            type: array
                            items:
                              $ref: ../components.yaml#/components/schemas/Recipe
                            description: Similar recipes
                          userInteraction:
                            type:
                              - object
                              - "null"
                            properties:
                              isFavorited:
                                type: boolean
                                description: Whether current user favorited this recipe
                              userRating:
                                type:
                                  - integer
                                  - "null"
                                minimum: 1
                                maximum: 5
                                description: Current user's rating
              example:
                success: true
                data:
                  id: 987fcdeb-51d2-43a1-b234-567890123456
                  name: Thịt Kho Tàu Truyền Thống
                  views: 1251
                  ratings:
                    average: 4.3
                    count: 89
                  userInteraction:
                    isFavorited: true
                    userRating: 5
        "403":
          description: Recipe not approved or access denied
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
        "404":
          $ref: ../components.yaml#/components/responses/NotFound
      operationId: getRecipesByid
  /recipes/popular:
    get:
      tags:
        - Recipe Search
      summary: Get popular recipes
      description: |
        Get popular recipes based on views, ratings, and recent activity.
        Uses computed popularity score from aggregated metrics.

        **ERD Entities:** RECIPE, VIEW_HISTORY, RATING
      parameters:
        - name: timeframe
          in: query
          description: Popularity timeframe
          schema:
            type: string
            enum:
              - daily
              - weekly
              - monthly
              - all-time
            default: weekly
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
            format: uuid
        - $ref: ../components.yaml#/components/parameters/LimitParam
      responses:
        "200":
          description: Popular recipes retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      recipes:
                        type: array
                        items:
                          allOf:
                            - $ref: ../components.yaml#/components/schemas/Recipe
                            - type: object
                              properties:
                                popularityScore:
                                  type: number
                                  format: float
                                  description: Computed popularity score
                                  example: 87.5
                                trendingRank:
                                  type: integer
                                  description: Rank in trending list
                                  example: 3
      operationId: getRecipesPopular
  /categories:
    get:
      tags:
        - Recipe Search
      summary: Get recipe categories
      description: |
        Get all recipe categories with hierarchical structure and recipe counts.
        Used for filtering and navigation.

        **ERD Entities:** CATEGORY
      parameters:
        - name: includeEmpty
          in: query
          description: Include categories with no recipes
          schema:
            type: boolean
            default: false
        - name: level
          in: query
          description: Category hierarchy level (0=root)
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: ../components.yaml#/components/schemas/Category
      operationId: getCategories
  /ingredients/search:
    get:
      tags:
        - Recipe Search
      summary: Search ingredients for autocomplete
      description: |
        Search standardized ingredients for autocomplete suggestions.
        Used in ingredient search forms.

        **ERD Entities:** INGREDIENT (system ingredients)
      parameters:
        - name: q
          in: query
          required: true
          description: Ingredient search query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          example: thịt
        - name: limit
          in: query
          description: Max results to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Ingredient suggestions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Thịt bò
                        category:
                          type: string
                          example: Thịt
                        frequency:
                          type: integer
                          description: Usage frequency in recipes
                          example: 145
              example:
                success: true
                data:
                  - name: Thịt bò
                    category: Thịt
                    frequency: 145
                  - name: Thịt heo
                    category: Thịt
                    frequency: 189
        "400":
          $ref: ../components.yaml#/components/responses/BadRequest
      operationId: getIngredientsSearch
  /recipes:
    post:
      tags:
        - Recipe Management
      summary: UCS03-1 - Create new recipe
      description: |
        Create a new recipe with ingredients, steps, and media.
        Recipe starts in DRAFT status and can be submitted for approval.

        **Business Rules:**
        - User must be authenticated and verified
        - Recipe starts with status = 'DRAFT'
        - Must have at least 1 ingredient and 1 step
        - Supports media upload for recipe and individual steps
        - Auto-generates order_index for ingredients and step_number for steps

        **ERD Entities:** RECIPE, INGREDIENT, RECIPE_STEP, RECIPE_MEDIA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../components.yaml#/components/schemas/CreateRecipeRequest
            example:
              name: Canh Chua Cá Lóc
              description: Món canh chua truyền thống miền Nam với cá lóc tươi và rau thơm
              categoryId: 123e4567-e89b-12d3-a456-426614174001
              difficulty: MEDIUM
              servings: 4
              prepTime: 20
              cookTime: 30
              ingredients:
                - name: Cá lóc
                  amount: 500
                  unit: gram
                  notes: Cắt khúc vừa ăn
                  orderIndex: 1
                - name: Me
                  amount: 2
                  unit: muỗng canh
                  orderIndex: 2
              steps:
                - stepNumber: 1
                  instruction: Sơ chế cá lóc, rửa sạch và cắt khúc
                  duration: 10
                - stepNumber: 2
                  instruction: Nấu nước me, cho cá vào nấu
                  duration: 20
              tags:
                - Vietnamese
                - Soup
                - Southern
              isPublic: true
          multipart/form-data:
            schema:
              type: object
              properties:
                recipe:
                  $ref: ../components.yaml#/components/schemas/CreateRecipeRequest
                thumbnailImage:
                  type: string
                  format: binary
                  description: Recipe thumbnail image
                stepImages:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Step-by-step images
      responses:
        "201":
          description: Recipe created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: ../components.yaml#/components/schemas/RecipeDetail
              example:
                success: true
                data:
                  id: 987fcdeb-51d2-43a1-b234-567890123456
                  name: Canh Chua Cá Lóc
                  status: DRAFT
                  createdBy: 123e4567-e89b-12d3-a456-426614174000
                  createdAt: 2024-01-15T10:30:00Z
                  ingredients: []
                  steps: []
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
              examples:
                missing_ingredients:
                  summary: Missing required ingredients
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Recipe must have at least 1 ingredient
                      details:
                        field: ingredients
                        constraint: minItems
                invalid_difficulty:
                  summary: Invalid difficulty level
                  value:
                    success: false
                    error:
                      code: VALIDATION_ERROR
                      message: Difficulty must be EASY, MEDIUM, or HARD
                      details:
                        field: difficulty
                        value: INVALID
        "401":
          $ref: ../components.yaml#/components/responses/Unauthorized
        "413":
          description: File too large
          content:
            application/json:
              schema:
                $ref: ../components.yaml#/components/schemas/ErrorResponse
      operationId: createRecipes
  /users/recipes:
    get:
      tags:
        - Recipe Management
      summary: UCS03-2 - Get user's recipes
      description: |
        Get list of recipes created by the current user with filtering and stats.
        Shows all recipes regardless of status (DRAFT, PENDING, APPROVED, REJECTED).

        **Business Rules:**
        - Only shows recipes where created_by = current user
        - Includes recipes in all statuses for owner view
        - Supports filtering by status, category, difficulty
        - Provides aggregated statistics

        **ERD Entities:** RECIPE, USER
      security:
        - bearerAuth: []
      parameters:
        - $ref: ../components.yaml#/components/parameters/RecipeStatusParam
        - name: category
          in: query
          description: Filter by category ID
          schema:
            type: string
            format: uuid
        - $ref: ../components.yaml#/components/parameters/DifficultyParam
        - name: sortBy
          in: query
          description: Sort recipes by
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
              - name
              - views
              - rating
            default: updatedAt
        - name: order
          in: query
          description: Sort order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - $ref: ../components.yaml#/components/parameters/PageParam
        - $ref: ../components.yaml#/components/parameters/LimitParam
      responses:
        "200":
          description: User recipes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      recipes:
                        type: array
                        items:
                          $ref: ../components.yaml#/components/schemas/Recipe
                      pagination:
[...]
